# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Django stuff
db.sqlite3
*.log
media/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test/cache
.coverage
htmlcov/
.pytest_cache/

# Node (if React frontend)
node_modules/
build/

